
//Colores
$verde: #4cb8b3;
$rosa: #F53756;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000;
$blamco: #FFF;



//mq

//fuentes
$fuentePrincipal: 'Montserrat', sans-serif;
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

//separaciones