.informacion-evento{
    padding: $separacion 0;
    
    @include tablet{
        @include grid(2, $separacion);
    }
}

.informacion-evento__titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2{
        font-size: 3rem;
    }
    .informacion-evento__fecha{
        color: $rosa;
        font-weight: $bold;
    }
    .informacion-evento__texto{
        line-height: 1.5;    
    }
}